<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon("list", 2) %>
    Meine Kursliste <%= stringify_semester @bucket.semester %>
  </div>
  <div id="course_bucket" class="panel-body">
    <% @bucket.courses.each do |course| %>
      <%= render partial: "course", locals: {
        course: course,
        url: destroy_bucketship_course_bucket_path(@bucket.id),
        method: :delete,
        icon_type: "minus-square",
        button: "Entfernen" } %>
    <% end %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= icon("list", 2) %>
    Kursangebot
  </div>
  <div id="courses" class="panel-body">
    <% @courses.each do |course| %>
      <%= render partial: "course", locals: {
        course: course,
        url: make_bucketship_course_bucket_path(@bucket.id),
        method: :post,
        icon_type: "plus-square",
        button: "Hinzufügen" } %>
    <% end %>
  </div>
</div>
