<div id=<%= course.id %> class="row">
  <div class="col-xs-12 col-md-8"><%= link_to course.title, admin_course_path(course) %></div>
  <div class="col-xs-6 col-md-4 btn-group">
    <%= link_to icon("edit", 2), edit_admin_course_path(course), class: "btn" %>
    <%= form_for [:admin, course], method: :put, remote: true, html: { class: "ajax_form" } do |f| %>
      <%= f.hidden_field :active, value: (!course.active).to_s %>
      <button type="submit" class="btn btn-primary btn-xs">
        <%= icon(icon_type, 2) %>
        <%= button %>
      </button>
    <% end %>
  </div>
</div>
